<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MagentoEse_B2BSampleData" setup_version="0.0.2">
        <sequence>
            <module name="Magento_B2b"/>
            <module name="Magento_Company"/>
            <module name="Magento_NegotiableQuote"/>
            <module name="Magento_RequisitionList"/>
            <module name="Magento_SharedCatalog"/>
            <module name="Magento_CompanyCredit"/>
            <module name="Magento_CatalogPermissions"/>
            <module name="MagentoEse_B2bAdminConfigurations"/>
            <module name="MagentoEse_B2BCatalogSampleData"/>
            <module name="MagentoEse_SalesSampleData"/>
            <module name="FireGento_FastSimpleImport2"/>
        </sequence>
    </module>
</config>
